- breadcrumb :payments
%table#payments.table.display{"data-source" => payments_url(format: "json")}
  %thead
    %tr
      %th= t('payments.columns.first_name')
      %th= t('payments.columns.last_name')
      %th= t('payments.columns.year')
      %th= t('payments.columns.month')
      %th= t('payments.columns.paid_at')
  %tbody
    -payments.each do |payment|
      %tr
        %th= payment.student.first_name
        %th= payment.student.last_name
        %th= payment.year
        %th= payment.month
        %th= payment.paid_at
